html,
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input{
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ffffff;
  padding: 1rem .5rem;
  color: #ffffff;
  font-size: 1rem;
}

/* @media screen and (max-width: 700px) {
  html,body{
    font-size: 1rem;
  }
} */